/* You can add global styles to this file, and also import other style files */
// Bootstrap teaks
.form-group.required label:after {
    content:" *";
    color:red;
    font-weight: bold;
}
// adjust error mesage under the input field to match .invalid-feedback
.form-group .input-error {
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

// Flash messages margin fix
flash-messages p {
    margin-bottom: 0;
}

// Blog
.post {
    margin: 30px 0;
}