<h2>Edit Post</h2>

<div [ngClass]="messageClass">
  {{ message }}
</div>

<form *ngIf="article" [formGroup]="createPostForm" (submit)="onPostSubmit()" autocomplete="off" (keydown.enter)="preventSubmission($event)">
    <!-- title -->
  <div class="form-group required">
      <label class="col-form-label" for="title">Title</label>
      <input [(ngModel)]="article.title" formControlName="title" type="text" name="title" class="form-control  has-error"

          [ngClass]="{'is-invalid': (createPostForm.controls.title.errors && createPostForm.controls.title.dirty)}">
          <div class="invalid-feedback">Please provide the title.</div>
  </div>
  <!-- excerpt -->
  <div class="form-group required">
      <label class="col-form-label" for="excerpt">Excerpt</label>
      <input [(ngModel)]="article.excerpt" formControlName="excerpt" type="text" name="excerpt" class="form-control" value=""

          [ngClass]="{'is-invalid': (createPostForm.controls.excerpt.errors && createPostForm.controls.excerpt.dirty)}">
          <div class="invalid-feedback">Please provide the excerpt.</div>
  </div>
  <!-- body -->
  <div class="form-group required">
      <label class="col-form-label" for="body">Body</label>
      <textarea [(ngModel)]="article.body" id="text-area" formControlName="body" type="text" name="body" id="text-area" class="form-control" value=""

          [ngClass]="{'is-invalid': (createPostForm.controls.body.errors && createPostForm.controls.body.dirty)}">
        </textarea>

        <div class="invalid-feedback">Please provide the body.</div>

  </div>

    <!-- tags -->
    <label for="tags">Add tags</label>
    <input type="text" name="tags" class="form-control"  placeholder="Add tag" formControlName="tags" (keyup.enter)="addTag()">
    <p class="tags">
        <span *ngFor="let tag of article.tags; let i = index">
          <span class="badge badge-secondary">{{tag}} 
              <span class="fa fa-times" (click)="deleteTag(tag, i)"></span>
            </span>
        </span>
    </p>


  <input [disabled]='formSubmitted' class="btn btn-primary" type="submit" value="Save article">

</form>
<br>
<button class="btn btn-primary" (click)="goBack()">&larr; Go back</button>
<br><br>
<button class="btn btn-outline-danger" (click)="onPostDelete()">Delete Post</button>

<br><br>
<hr>

<!-- preview -->
<div *ngIf="article">

    <h2>Article preview:</h2>
    <h5>{{article.title}}</h5>
    <div><i>{{article.excerpt}}</i></div><br>
    <div [innerHtml]="article?.body"></div>
    <br>
    <div>
        <p>
            Tags: <span *ngFor="let tag of article.tags" class="badge badge-secondary">{{tag}}</span>
        </p>
    </div>
    
    <br>
    <button class="btn btn-primary" (click)="onPostSubmit()">Save article</button>
    <br><br>
    <button class="btn btn-primary" (click)="goBack()">&larr; Go back</button>
    <br><br>
    <button class="btn btn-outline-danger" (click)="onPostDelete()">Delete Post</button>

</div>