<h2>Latest Posts</h2>

<div *ngFor="let article of articles">

    <h2>{{ article.title }}</h2>
    <li>{{ article.created }}</li>
    <li>{{ article.excerpt }}</li>
    <li>{{ article.body }}</li>
    <li>Posted by: {{ article.author.firstName }} {{ article.author.lastName }}</li>
    <li *ngIf="article.tags.length > 0">{{ article.tags }}</li>
    <hr>
</div>



<div class="post">
    <h3>Blog Post Title</h3>
    <p class="exceprt">Morbi dignissim at mauris ut viverra. Nunc volutpat lacinia nisl. Sed tempor tortor ex, vitae iaculis sapien convallis vel. Sed suscipit euismod tempus. In ac nulla vel augue porttitor imperdiet eget in nunc. </p>

    <p>Created by: <strong>Bernardo Revelles</strong> on <strong>Wed, 11/12/2017</strong></p>

    <a href="#" class="btn btn-primary">Read post</a>
    <a href="#" class="btn btn-outline-primary">Edit post</a>
</div>
